<% @page_title = "アカウント編集" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrapper">
          <h2>アカウント編集</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :current_password %><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "アップデート", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
          <div class="field">
            <%= link_to "アカウント削除", user_path(@user.id), data: { confirm: "本当にアカウントを削除しますか?" }, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
