<% @page_title = "新規登録" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrapper">
          <h2>新規登録</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :user_name %>
            <%= f.text_field :user_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "登録する", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
          <div class="field">
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
