<!-- コメントのパーシャル -->
<li>
  <div class="list-inner">
    <div class="comment-user-image">
      <%= link_to comment.user do %>
      <%= image_tag(comment.user.user_image.url) %>
      <% end %>
    </div>
    <div class="text">
      <span class="text-row">
        <strong><%= link_to comment.user.user_name, comment.user %></strong>
        <small><%= comment.created_at.strftime("%Y/%m/%d") %></small>
      </span>
      <span class="text-row"><p><%= comment.content %></p></span>
      <% if current_user?(comment.user) %>
      <span class="text-row">
        <%= link_to "削除", shop_comment_path(comment.shop.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </span>
      <% end %>
    </div>
  </div>
</li>
