<%= form_for([@shop, @comment]) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "コメントを追加...", class: "form-control" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>
