<%= form_for(@shop, html: {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%# 画像の投稿部分。もしバリデーションに引っかかった場合、画像を表示しておく。 %>
  <div class="form-group">
    <%= image_tag @shop.shop_image.url(:thumb) if @shop.shop_image? %>
    <%= f.label :shop_image %><br>
    <%= f.file_field :shop_image, class: "form-control" %>
    <%= f.hidden_field :shop_image_cache %>
  </div>
  <div class="form-group">
    <%= f.label :shop_name %>(必須)<br>
    <%= f.text_field :shop_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shop_bio %>(200文字以内)<br>
    <%= f.text_area :shop_bio, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tel %><br>
    <%= f.text_field :tel, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :hours %><br>
    <%= f.text_field :hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :closed %><br>
    <%= f.text_field :closed, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :area %>
    <%= f.collection_select :area_id, Area.all, "id", "name", {prompt: "エリアを選択"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, value: f.object.tag_list.to_s, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "投稿する", class: "btn btn-primary" %>
  </div>
<% end %>
