<%= search_form_for @q, url: search_shops_path, html: {method: :post} do |f| %>
<div class="form-group">
  <h4 class="search-label">店舗名から探す</h4>
  <%= f.search_field :shop_name_cont, placeholder: "店舗名", class: "form-control" %>
</div>
<div class="form-group">
  <h4 class="search-label">所在地から探す</h4>
  <%= f.search_field :location_cont, placeholder: "都道府県または市区町村", class: "form-control" %>
</div>
<div class="form-group">
  <h4 class="search-label">人気のエリアから探す</h4>
  <%= f.collection_select :area_id_eq, Area.all, "id", "name", {prompt: "エリアを選択"}, {class: "form-control"} %>
</div>
<div class="actions">
  <%= f.submit "検索", class: "btn btn-primary btn-block" %>
</div>
<% end %>
