<!-- 店舗パーシャル  -->
<div class="col-xs-6 col-sm-4 col-md-4">
  <%= link_to shop do %>
  <div class="thumbnail">
    <div class="thumb">
      <% if shop.shop_image? %>
      <%= image_tag(shop.shop_image.url) %>
      <% else %>
      <%= image_tag "default-shop-image.png" %>
      <% end %>
    </div>
    <div class="caption">
      <p><strong><%= truncate(shop.shop_name, length: 10) %></strong></p>
      <p class="card-bottom"><i class="fa fa-heart-o"><%= shop.likes.count %></i> | <i class="fa fa-comment-o"><%= shop.comments.count %></i></p>
    </div>
  </div>
  <% end %>
</div>
