<% @page_title = "店舗検索" %>

<div class="container">
  <div class="row">
    <!-- 検索フォーム -->
    <div class="col-md-4">
      <div class="search-wrapper">
        <div class="page-header">
          <h1>店舗検索</h1>
        </div>
        <%= render "search" %>
      </div>
      <%= render "shared/auto_ad" %>
    </div>
    <!-- 店舗一覧 -->
    <div class="col-md-8">
      <div class="shops-wrapper">
        <div class="page-header">
          <h1>店舗一覧</h1>
        </div>
        <div class="row">
          <%= render @shops %>
        </div>
        <div class="pagination pagination-centered">
          <%= paginate @shops %>
        </div>
        <%= render "shared/auto_ad" %>
      </div>
    </div>
  </div>
</div>
