<% @page_title = "いいね！したユーザー" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <%# 店舗一覧 %>
      <div class="col-md-8 col-md-offset-2">
        <div class="liking-users">
          <div class="page-header">
            <h1><%= @title %></h1>
          </div>
          <ul class="lists">
            <%= render @users %>
          </ul>
          <div class="pagination pagination-centered">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
