<% @page_title = @shop.shop_name %>

<div class="container">
  <!-- コンテンツ上側 -->
  <div class="row">
    <!-- コンテンツ左側 -->
    <div class="col-md-8">
      <!-- 店舗情報の大枠 -->
      <div class="shop-wrapper">
        <!-- アドセンス -->
        <%= render "shared/horizontal_ad" %>
        <!-- 警告文 -->
        <div class="alert alert-warning">
          <small>情報が古い場合があり、必ずしも正しいとは限りません。( <%= @shop.updated_at.strftime("%Y/%m/%d") %>に更新 )</small>
        </div>
        <!-- 店舗名 -->
        <h1 class="shop-name-heading"><%= @shop.shop_name %></h1>
        <div class="shop-tags">
          <%= render @shop.tags %>
        </div>
        <!-- 管理ユーザーがログイン済みの時のメニュー -->
        <% if current_user.try(:admin?) %>
        <ul>
          <li><%= link_to "編集", edit_shop_path(@shop.id) %></li>
          <li><%= link_to "削除", shop_path(@shop.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></li>
        </ul>
        <% end %>
        <!-- 店舗イメージ -->
        <div class="shop-image">
          <% if @shop.shop_image? %>
          <%= image_tag(@shop.shop_image.url) %>
          <% else %>
          <%= image_tag "default-shop-image.png" %>
          <% end %>
        </div>
        <!-- 店舗概要 -->
        <p class="shop-bio"><%= @shop.shop_bio %></p>
        <!-- 店舗テーブル -->
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <th scope="row">電話</th>
                <td><%= @shop.tel %></td>
              </tr>
              <tr>
                <th scope="row">所在地</th>
                <td><%= @shop.location %></td>
              </tr>
              <tr>
                <th scope="row">営業時間</th>
                <td><%= @shop.hours %></td>
              </tr>
              <tr>
                <th scope="row">定休日</th>
                <td><%= @shop.closed %></td>
              </tr>
              <tr>
                <th scope="row">サイト</th>
                <td><%= link_to @shop.url, @shop.url, rel: "noopener", target: "_blank" %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 店舗地図 -->
        <div class='shop-map'>
          <div id="map"></div>
          <script type="text/javascript">
              handler = Gmaps.build('Google');
              handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(16);
              });
          </script>
        </div>
        <!-- アドセンス -->
        <%= render "shared/auto_ad" %>
      </div><!-- show-wrapper -->
    </div><!-- col-md-8 -->
    <!-- コンテンツ右側 -->
    <div class="col-md-4">
      <!-- サイドバーの大枠 -->
      <div class="sidebar">
        <!-- SNSシェアボタン -->
        <div class="well">
          <%= render "shared/sns" %>
        </div>
        <!-- いいね関連 -->
        <div class="like-info-wrapper">
          <div id="like-link">
            <%= render "likes/like_links", shop: @shop %>
          </div>
          <div class="like-count">
            <%= link_to @shop.likes.count, liking_users_shop_path(@shop.id), id: "like-count" %>いいね!
          </div>
        </div>
        <!-- 近くの店舗 -->
        <% if @shop.geocoded? %>
        <div class="nearbys">
          <h3>近くの店舗</h3>
          <ul>
            <% @shop.nearbys(1).limit(10).each do |shop| %>
            <li><%= link_to shop.shop_name, shop %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <!-- アドセンス -->
        <%= render "shared/rectangle_ad" %>
        <!-- あとで実装 -->
      </div><!-- sidebar -->
    </div><!-- col-md-4 -->
  </div><!-- コンテンツ上側 -->
  <!-- コンテンツ下側 -->
  <div class="row">
    <!-- コンテンツ下側左 -->
    <div class="col-md-8">
      <!-- コメント一覧の大枠 -->
      <div class="comments-wrapper">
        <!-- コメントしてるかどうか -->
        <% if user_signed_in? %>
        <% if current_user.comments.find_by(shop_id: @shop.id) %>
        <div class="alert alert-warning">
          <small>※あなたはこのお店にコメント済みです。</small>
        </div>
        <% end %>
        <% end %>
        <!-- コメント投稿フォーム -->
        <%= render "comments/form", shop: @shop %>
        <!-- コメント一覧 -->
        <ul class="shop-comments">
          <h4>コメント数(<%= @shop.comments.count %>)</h4>
          <% if @shop.comments.any? %>
          <ul class="lists">
            <%= render @comments %>
          </ul>
          <% else %>
          <%= "まだコメントがありません。" %>
          <% end %>
          <%= paginate @comments %>
        </ul>
      </div><!-- comments-wrapper -->
    </div><!-- コンテンツ下側左 -->
  </div><!-- コンテンツ下側 -->
</div>
