<% if user_signed_in? %>
  <% if current_user.likes.find_by(shop_id: shop.id) %>
    <%= link_to "いいね!を取り消す", unlike_path(shop.id), method: :delete, remote: true, class: "btn btn-unlike" %>
  <% else %>
    <%= link_to like_path(shop.id), method: :post, remote: true, class: "btn btn-like" do %>
      <i class="fa fa-heart"> いいね!をする </i>
    <% end %>
  <% end %>
<% end %>
