<%= form_for(@user, html: {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :user_image %>
    <%= f.file_field :user_image, class: "form-control" %>
    <%= image_tag @user.user_image.url(:thumb) if @user.user_image? %>
    <%= f.hidden_field :user_image_cache %>
  </div>
  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
