<!-- ユーザーパーシャル -->
<li>
  <div class="list-inner">
    <div class="user-index-image">
      <%= link_to user do %>
      <% if user.user_image? %>
      <%= image_tag(user.user_image.url) %>
      <% else %>
      <%= image_tag "default-image.png" %>
      <% end %>
      <% end %>
    </div>
    <div class="text">
      <span class="text-row"><strong><%= link_to user.user_name, user %></strong></span>
    </div>
  </div>
</li>
