<% @page_title = "ユーザー編集" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrapper">
          <h2>ユーザー編集</h2>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
