<% @page_title = "ユーザー詳細" %>

<div class="container">
  <div class="row">
    <!-- ユーザープロフィール -->
    <div class="col-md-4">
      <div class="user-info">
        <section class="show-user-image">
          <% if @user.user_image? %>
          <%= image_tag(@user.user_image.url) %>
          <% else %>
          <%= image_tag "default-image.png" %>
          <% end %>
        </section>
        <section>
          <h1><%= @user.user_name %></h1>
        </section>
        <% if current_user?(@user) %>
        <section>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-default" %>
        </section>
        <% end %>
      </div>
    </div><!-- col-md-4 -->
    <!-- ここからユーザー投稿一覧 -->
    <div class="col-md-8">
      <div class="user-info">
        <!-- タブ切り替え -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#like_shops">いいね</a></li>
          <li><a data-toggle="tab" href="#comment_shops">コメントしたお店</a></li>
          <li><a data-toggle="tab" href="#comments">コメント</a></li>
        </ul>
        <!-- タブの中身 -->
        <div class="tab-content">
          <div id="like_shops" class="tab-pane active">
            <div class="row">
              <%= render @shops %>
            </div>
          </div>
          <div id="comment_shops" class="tab-pane">
            <div class="row">
              <%= render @comment_shops %>
            </div>
          </div>
          <div id="comments" class="tab-pane">
            <ul class="lists">
              <%= render @comments %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
