<% @page_title = "パスワードリセット" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrapper">
          <h2>パスワードリセット</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "送信", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
