<footer>
  <div class="container">
    <div class="row">
      <!-- ここからサイトの説明 -->
      <div class="col-sm-4">
        <h4>このサイトについて</h4>
        <p>"RopaRopa" は古着屋の情報サイトで口コミができるサイトです。<br>
          あなたも気になる古着屋をチェックしたり口コミを書いてみませんか？：）
        </p>
      </div>
      <!-- ここからログインメニュー -->
      <div class="col-sm-2">
        <h4>メニュー</h4>
        <ul class="footer-links">
          <% if user_signed_in? %>
            <li><%= link_to "トップ", root_path %></li>
            <li><%= link_to "ユーザートップ", current_user %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "ユーザー登録", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <!-- ここからヘルプリンク -->
      <div class="col-sm-2">
        <h4>ヘルプ</h4>
        <ul class="footer-links">
          <li><%= link_to "店舗掲載について", published_path %></li>
          <li><%= link_to "コンタクト", contact_path %></li>
        </ul>
      </div>
      <!-- snsリンク -->
      <div class="col-sm-2">
        <h4>SNS</h4>
        <ul class="footer-links">
          <li><%= link_to "Twitter", "https://twitter.com/roparopacom", rel: "noopener", target: "_blank" %></li>
        </ul>
      </div>
    </div>
    <!-- コピーライト -->
    <small class="copyright">Copyright &copy; RopaRopa</small>
  </div>
</footer>
