<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "RopaRopa", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- ヘッダー左側 -->
      <ul class="nav navbar-nav">
        <!-- ユーザーがログイン済みの時のメニュー -->
        <% if current_user.try(:admin?) %>
          <li><%= link_to "投稿", new_shop_path %></li>
        <% end %>
        <!-- 検索ボックス -->
        <li>
          <%= link_to search_shops_path do %>
          <i class="fa fa-search" aria-hidden="true"></i>
          店舗検索
          <% end %>
        </li>
        <!-- PR部分 -->
        <li>
          <%= link_to published_path do %>
          <span class="header-pr">PR</span>
          <span>あなたのお店を掲載しませんか? ：）</span>
          <% end %>
        </li>
      </ul>
      <!-- ヘッダー右側 -->
      <ul class="nav navbar-nav navbar-right">
        <!-- ユーザーがログイン済みの時のメニュー -->
        <% if user_signed_in? %>
          <li><%= link_to current_user.user_name, current_user %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">設定<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "ユーザー登録", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
