<!-- レクタングルアドセンス -->
<div class="google-ad">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ロパロパ -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-7098906806947664"
  data-ad-slot="6593571635"
  data-ad-format="rectangle"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
