<!-- ユーザー情報パーシャル -->
<section>
  <div class="user-show-image">
    <% if current_user.user_image? %>
      <%= image_tag(current_user.user_image.url) %>
    <% else %>
      <%= image_tag "default-image.png" %>
    <% end %>
  </div>
</section>
<section>
  <span class="user-label">ユーザー名</span>
  <h3><%= current_user.user_name %></h3>
</section>
