<div class="jumbotron">
  <div class="top-wrapper">
    <div class="container">
      <h1>素敵な古着屋を見つけよう。</h1>
      <p>RopaRopaは古着屋の情報サイトです。<br>あなたも気になるお店を見つけてみませんか?</p>
      <%= link_to "新規登録(無料)", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<div class="landing-section gray-color">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-search" aria-hidden="true"></i>
          <h2>検索</h2>
          <p>全国の古着屋を検索できます。<br>古着屋は順次追加中です。</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <h2>お気に入り</h2>
          <p>お店にいいね！ができます。<br>気になるお店をいいね！してリストに追加しよう。</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-comment" aria-hidden="true"></i>
          <h2>口コミ</h2>
          <p>お店に口コミができます。<br>訪れたことのあるお店にコメントを書いてみよう。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="landing-shops">
          <h2>最新の古着屋</h2>
          <div class="row">
            <%= render @shops %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="landing-areas">
          <h2>人気のエリア</h2>
          <div class="area area1">
            <%= link_to ({:controller=>"shops",:action=>"index",:q=>{:area_id_eq=>'1'}}) do %>
            <div class="area-mask">
              <h3>原宿</h3>
            </div>
            <% end %>
          </div>
          <div class="area area2">
            <%= link_to ({:controller=>"shops",:action=>"index",:q=>{:area_id_eq=>'2'}}) do %>
            <div class="area-mask">
              <h3>下北沢</h3>
            </div>
            <% end %>
          </div>
          <div class="area area3">
            <%= link_to ({:controller=>"shops",:action=>"index",:q=>{:area_id_eq=>'3'}}) do %>
            <div class="area-mask">
              <h3>高円寺</h3>
            </div>
            <% end %>
          </div>
          <!-- アドセンス -->
          <%= render "shared/horizontal_ad" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="more text-center">
        <%= link_to "すべてのお店を見る", shops_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
<div class="landing-section gray-color">
  <div class="container">
    <h3>あなたも素敵な古着屋を見つけてみませんか？</h3>
    <div class="text-center">
      <%= link_to "登録する", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
