<% @page_title = "店舗掲載" %>

<div class="published-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="published-pr">
          <h1>お店を掲載してみませんか? ：）</h1>
          <p class="published-description">
            RopaRopa(ロパロパ)は古着屋さんの情報サイトです。全国にたくさんある古着屋さんのデータベースを作るべく日々店舗の追加を行っています。<br>
            あなたも古着好きな人々に自分のお店をアピールするために店舗情報を掲載しませんか？
          </p>
        </div>
        <div class="published-faq">
          <h1>よくある質問</h1>
          <div class="question-wrapper">
            <div class="question">
              <p>Q. 店舗掲載料はいくらですか？</p>
            </div>
            <div class="answer">
              <p>A. 基本的にはかかりません。無料です。</p>
            </div>
          </div>
          <div class="question-wrapper">
            <div class="question">
              <p>Q. 店舗情報は何を送ればいいですか？</p>
            </div>
            <div class="answer">
              <p>A. 店舗名・店舗ジャンル・店舗画像(1枚)・店舗概要(300文字以内)・所在地・電話番号・営業時間・定休日・店舗サイトURL・・・<br>
                 以上の項目をご用意していただいて、<%= mail_to "info@ropa-ropa.com" %>までお送りください。</p>
            </div>
          </div>
          <div class="question-wrapper">
            <div class="question">
              <p>Q. 実店舗がないのですが掲載可能でしょうか？</p>
            </div>
            <div class="answer">
              <p>A. はい大丈夫です。実店舗・ネットショップ問わず掲載可能です。</p>
            </div>
          </div>
          <div class="question-wrapper">
            <div class="question">
              <p>Q. 個人でも掲載できますか？</p>
            </div>
            <div class="answer">
              <p>A. もちろんです。法人・個人問わず掲載できます。</p>
            </div>
          </div>
          <div class="question-wrapper">
            <div class="question">
              <p>Q. 上記をみてもわからないことがある。</p>
            </div>
            <div class="answer">
              <p>A. わからないことや質問などは<%= link_to "こちらから", contact_path %>お気軽にお問い合わせください。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
