<% @page_title = "お問い合わせ" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrapper">
          <h2>お問い合わせ</h2>
          <p>返信にはお時間がかかる場合がございます。ご了承ください。</p>
          <%= form_for @contact, url: contact_path do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :message %>
            <%= f.text_area :message, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "送信", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
          <div class="field">
            <%= link_to "店舗掲載希望の方はこちらから", published_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
