<% @page_title = @tag.name %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="tagging-shops">
          <div class="page-header">
            <h1>"<%= @tag.name %>" のタグのついた店舗一覧</h1>
          </div>
          <div class="row">
            <%= render @shops %>
          </div>
          <div class="pagination pagination-centered">
            <%= paginate @shops %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
