<% @page_title = "ログイン" %>

<div class="gray-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrapper">
          <h2>ログイン</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
          <div class="field">
            <%= link_to "パスワードリセット", new_user_password_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
