/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 /* グレイ色 */
 $gray-color: #F7F8F9;

 /* scssファイルの読み込み */
 @import "normalize-rails";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "home.scss";
 @import "shops.scss";
 @import "users.scss";
 @import "likes.scss";
 @import "comments.scss";
 @import "tags.scss";

/* 全体 */
body{
  padding-top: 50px;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a, div, span, small{
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}
/* ヘッダー */
.navbar-default {
background-color: #ffffff;
}
.header-pr{
  background-color: #f0ad4e;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
}
/* トップ画面 */
.jumbotron{
  background: url(/images/top-image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin-bottom: 0px;
  h1{
    opacity: 0.8;
    font-size: 50px;
    margin-bottom: 40px;
  }
  p{
    opacity: 0.7;
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.top-wrapper{
  padding: 180px 0 160px 0;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* フッター */
footer{
  border-top: 1px solid $gray-lighter;
  padding: 40px 0;
  h4{
    font-size: 16px;
    padding-top: 10px;
  }
  p{
    font-size: 14px;
    padding-top: 10px;
  }
}
.footer-links li{
  padding-top: 10px;
}
.copyright{
  display: block;
  text-align: center;
  padding: 30px;
}
/* フラッシュ関連 */
.alert{
  margin-bottom: 0px;
}
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
}
.alert-alert {
  background-color: #f2dede;
  color: #a94442;
}
.alert-warning{
  margin-bottom: 30px;
}
/* フォーム */
input, textarea, select{
  border: 1px solid gray-lighter;
}
.form-control{
  width: 100%;
  border: 1px solid $gray-lighter;
}
.actions{
  margin-top: 40px;
}
.field{
  margin: 40px 0 20px 0;
}
.form-wrapper{
  padding: 40px 20px;
  margin: 40px 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  h2{
    text-align: center;
    margin: 0 0 40px 0;
  }
  p{
    text-align: center;
    margin: 0 0 40px 0;
  }
}

// グーグルアドセンス
.google-ad{
  margin-bottom: 30px;
  text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* スマホ */
@media(max-width: 767px){
  /* ジャンボトロン */
  .jumbotron h1{
    font-size: 40px;
  }
  .jumbotron p{
    font-size: 15px;
  }
  .top-wrapper{
    padding: 80px 0 100px 0;
  }
  /* フッター */
  footer{
    text-align: center;
    p{
      width: 70%;
      margin: 0 auto;
    }
  }
}
