// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* コメント一覧の大枠 */
.comments-wrapper{
  padding: 40px 0;
}
/* 店舗のコメント一覧の大枠 */
.shop-comments{
  padding: 40px 0;
}
/* コメント一覧のユーザーイメージ */
.comment-user-image{
  height: 80px;
  width: 80px;
  margin-right: 20px;
  img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid $gray-lighter;
  }
}
/* コメント一覧部分 */
.lists {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    border-bottom: 1px solid $gray-lighter;
    width: 100%;
  }
}
.list-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.text{
  flex: 1;
  word-wrap: break-word;
  min-width: 0;
}
.text-row{
  display: block;
  margin-bottom: 5px;
}


/*------------------------------------------------------------------------------------------------------------------*/
/* スマホ */
@media(max-width: 767px){
  /* コメント一覧の大枠 */
  .comments-wrapper{
    padding: 20px 0;
  }
  /* コメント一覧のユーザーイメージ */
  .comment-user-image{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    img{
      height: 60px;
      width: 60px;
      border-radius: 30px;
      border: 1px solid $gray-lighter;
    }
  }
}
