// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ランディングページのセクション */
.landing-section{
  padding: 40px 0;
  text-align: center;
}
/* 背景色(グレー) */
.gray-color{
  background-color: $gray-color;
}
/* 説明文 */
.landing-description{
  color: #428bca;
  padding: 10px 0;
  .fa{
    font-size: 60px;
  }
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
}
/* ランディングページの店舗一覧 */
.landing-shops{
  padding: 15px 0;
  h2{
    margin: 0 0 20px 0;
    border-bottom: 2px solid #428bca;
    display: inline-block;
  }
}
/* ランディングページの地域一覧 */
.landing-areas{
  padding: 15px 0;
  h2{
    margin: 0 0 20px 0;
    border-bottom: 2px solid #428bca;
    display: inline-block;
  }
}
.area{
  position: relative;
  height: 125px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  a{
    color: #ffffff;
    &:hover{
      color: #ffffff;
    }
  }
}
.area-mask{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.area1{
  background: url(/images/harajyuku.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.area2{
  background: url(/images/shimokitazawa.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.area3{
  background: url(/images/koenji.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* 続き読む */
.more{
  padding: 40px;
}
/* faq */
.published-wrapper{
  background-color: $gray-color;
}
.published-pr{
  margin: 40px 0;
  h1{
    font-size: 30px;
    border-bottom: 2px solid #428bca;
  }
}
.published-description{
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}
.published-faq{
  margin: 40px 0;
  h1{
    font-size: 30px;
    border-bottom: 2px solid #428bca;
  }
}
.question-wrapper{
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* スマホ */
@media(max-width: 767px){
  .landing-section{
    padding: 20px 0;
  }
  .landing-description{
    padding: 5px 0;
    .fa{
      font-size: 40px;
    }
    h2{
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .landing-shops{
    padding: 10px 0;
    text-align: center;
    h2{
      font-size: 24px;
    }
  }
  .landing-areas{
    padding: 10px 0;
    text-align: center;
    h2{
      font-size: 24px;
    }
  }
  .published-pr{
    margin: 40px 0;
    h1{
      font-size: 20px;
    }
  }
  .published-faq{
    margin: 40px 0;
    h1{
      font-size: 20px;
    }
  }
}
