// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* いいねのリンク */
.btn-like{
  background-color: #E6B7CB;
  color: white;
}
.btn-unlike{
  background-color: #EAEAEA;
  color: white;
}
