// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 店舗一覧 */
.shops-wrapper{
  padding: 40px 0;
}
/*
.lists {
  list-style: none;
  margin: 0;
  padding: 40px 0;
  li {
    overflow: auto;
    border-bottom: 1px solid $gray-lighter;
    width: 100%;
  }
}
.list-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.text{
  flex: 1;
  word-wrap: break-word;
  min-width: 0;
}
.text-row{
  display: block;
  margin-bottom: 5px;
}
*/
/* 店舗サムネイル */
.thumbnail{
  text-align: center;
  border: 1px solid $gray-lighter;
}
.thumb{
  height: 150px;
  line-height: 150px;
  background-color: $gray-color;
  img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
.caption{
  margin: 0;
  padding: 0;
}
.card-bottom{
  border-top: 1px solid $gray-lighter;
  padding: 10px 0 0 0;
}

/* 検索フォーム */
.search-wrapper{
  padding: 40px 0;
}
.search-label{
  font-size: 16px;
}
.page-header{
  margin: 20px 0;
  border-bottom: 2px solid #428bca;
  h1{
    font-size: 20px;
  }
}

/* 店舗詳細 */
.shop-wrapper{
  padding: 40px 0;
}
.shop-name-heading{
  font-size: 32px;
  margin-bottom: 30px
}
.shop-tags{
  margin-bottom: 30px;
}
.shop-bio{
  margin-bottom: 30px;
  word-wrap: break-word;
}
/* 店舗画像 */
.shop-image{
  text-align: center;
  height: 300px;
  margin-bottom: 30px;
  img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
/* テーブル表 */
.table{
  margin-bottom: 30px;
}
tbody tr{
  width: 100%;
  th{
    width: 20%;
  }
  td{
    width: 80%;
  }
}
/* 店舗地図 */
.shop-map{
  text-align: center;
  margin-bottom: 30px;
}
#map{
  width: 100%;
  height: 300px;
}
/* サイドバー */
.sidebar{
  padding: 40px 0;
}
/* いいねリンク */
.like-info-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
#like-link{
  margin-right: 20px;
}
.like-count{
  padding: 6px 12px;
  border: 1px solid $gray-lighter;
  border-radius: 4px;
}
/* snsシェアボタン */
.sns-share-buttons{
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    margin: 0 5px 10px 0;
    padding: 0;
  }
}
.pocket-btn iframe {
  width: 100px !important;
  overflow: hidden;
}
.pocket-btn{
  display: inline-block;
  height: 20px;
  overflow: hidden;
}
/* パネル */
.panel{
  margin-bottom: 30px;
}
.well{
  margin-bottom: 30px;
}
// 近くの店舗
.nearbys{
  padding: 20px;
  h3{
    margin-bottom: 20px;
    border-left: 3px solid #3071a9;
    padding-left: 10px;
  }
  ul, li{
    margin-bottom: 10px;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
/* スマホ */
@media(max-width: 767px){
  /* 店舗一覧 */
  .thumb{
    height: 100px;
    line-height: 100px;
  }
  /* 店舗詳細 */
  .shop-wrapper{
    padding: 30px 0;
  }
  .shop-image{
    height: 200px;
  }
  .shop-name-heading{
    font-size: 24px;
  }
  #map{
  height: 200px;
  }
}
