// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー一覧の大枠 */
.users-wrapper {
  padding: 40px 0;
}
/* いいね！したユーザー一覧の大枠 */
.liking-users{
  padding: 20px;
  margin: 40px 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
/* ユーザー一覧画像 */
.user-index-image{
  height: 80px;
  width: 80px;
  margin-right: 20px;
  img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid $gray-lighter;
  }
}
/* ユーザー詳細画像 */
.show-user-image{
  height: 150px;
  width: 100%;
  img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 1px solid $gray-lighter;
  }
}
/* ユーザーコンテンツ部分の各セクションのwrapper */
.user-info{
  padding: 40px 0;
  h1{
    margin: 0;
    font-size: 32px;
  }
  section{
    margin: 20px 0;
    text-align: center;
  }
}
/* ユーザーのタブ切り替え部分 */
.nav-tabs{
  margin: 20px 0;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* スマホ */
@media(max-width: 767px){
  .user-info{
    padding: 20px 0;
    h1{
      font-size: 26px;
    }
    section{
      margin: 10px 0;
    }
  }
  /* ユーザー詳細画像 */
  .show-user-image{
    height: 100px;
    width: 100%;
    img{
      height: 100px;
      width: 100px;
      border-radius: 50px;
      border: 1px solid $gray-lighter;
    }
  }
  /* スマホ版のタブ切り替え部分 */
  .nav-tabs{
    width: 100%;
    li a{
      width: auto;
      padding: 10px 5px;
    }
  }
}
