<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="RopaRopa(ロパロパ)は古着屋の情報サイトです。あなたも気になる古着屋をチェックしたり口コミを書いてみませんか。">
  <meta name="keywords" content="RopaRopa, ロパロパ, 古着, 口コミ, 古着屋">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyD6UdSPh_5GIoXHxQz8RasUkEfhXaBud60"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
</head>
<body>
  <%# ここからヘッダー %>
  <%= render "shared/header" %>
  <%# フラッシュ %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button class="close" type="button" data-dismiss="alert">&times;</button>
      <%= value %>
    </div>
  <% end %>
  <%# コンテンツ %>
  <%= yield %>
  <%# ここからフッター %>
  <%= render "shared/footer" %>
</body>
</html>
